.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../../public/bg_img.png');
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

}
